{% extends "index.html" %}
{% block content %}
<div>
    <nav class="custom-navbar navbar navbar-expand-lg">
        <div class="nav-container container-fluid">
            <a class="navbar-brand custom-brand" href="/">
                <img src="/static/images/logo2.webp" width="50" height="50" class="logo" alt="">
                <span class="brand-name">Mind Maze</span>
            </a>
            <div class="ml-auto nav-links">
                <a class="nav-item nav-link custom-nav-item" href="/">Home</a>
                <a class="nav-item nav-link custom-nav-item" href="/logout">Log Out</a>
            </div>
        </div>
    </nav>
    
</div>


<div style="padding-top: 10px;">
<div class="row" id="row">
    <div class="card">
        <div class="card-inner">
            <div class="front-face" style="background-image: url(../static/images/manage_user.png)"></div>
            <div class="back-face"> 
                <p class="card-text" style="color:#9c4fff">View and Manage Users</p>
                <a href="/admin/users" class="btn btn-primary">Manage Users</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <div class="front-face"style="background-image: url(../static/images/Manage_quiz.png)"></div>
            <div class="back-face">
                <p class="card-text" style="color:#9c4fff">View and Manage Quizzes</p>
                <a href="/admin/subjects" class="btn btn-primary">Manage Quizzes</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <div class="front-face" style="background-image: url(../static/images/view_report.png)"></div>
            <div class="back-face">
                <p class="card-text" style="color:#9c4fff">View Charts and Reports</p>
                <a href="/settings" class="btn btn-primary">View Reports</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <div class="front-face" style="background-image: url(../static/images/settings.png)"></div>
            <div class="back-face">
                <p class="card-text" style="color:#9c4fff">Change Settings</p>
                <a href="/settings" class="btn btn-primary">Settings</a>
            </div>
        </div>
    </div>
      
</div>
</div>
{% endblock %}