{% extends "index.html" %}
{% block content %}

<h1>Dashboard</h1>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">
              <img src="/static/images/logo2.webp" width="60" height="60" class="d-inline-block align-center" alt="">
              Mind Maze
          </a>
          <div class="ml-auto">
              <a class="nav-item nav-link d-inline-block" href="/dashboard">Home</a>
              <a class="nav-item nav-link d-inline-block" href="/logout">Logout</a>
          </div>
      </div>
    </nav>
      
</div>
<h2>Welcome, {{username}}</h2>

{% endblock %}