{% extends "index.html" %}

{% block content %}
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo2.webp" width="60" height="60" class="d-inline-block align-center" alt="">
            Mind Maze
        </a>
        <div class="ml-auto">
            <a class="nav-item nav-link d-inline-block" href="/">Home</a>
            <a class="nav-item nav-link d-inline-block" href="/signup">Sign Up</a>
        </div>
    </div>
  </nav>
    
</div>
<div id="login_form">
    <h2 class="text-center">Login</h2>
    <form method="POST", action="{{ url_for('login') }}">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name='username'class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name='password'class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check" id = "check2">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label name="remember" class="form-check-label" for="exampleCheck1">Remember me</label>
          
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>
{% endblock %}
