{% extends "index.html" %}
{% block content %}
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo2.webp" width="60" height="60" class="d-inline-block align-center" alt="">
            Mind Maze
        </a>
        <div class="ml-auto">
          <a class="nav-item nav-link d-inline-block" href="/">Home</a>
            <a class="nav-item nav-link d-inline-block" href="/login">Login</a>  
        </div>
    </div>
  </nav>
</div>
<div  id="signup_form">
    <h2 class-="text-center">Signup</h2>
    <form method="POST", action="{{ url_for('signup') }}">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input name='username' type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input name='password' type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label >First Name</label>
              <input name='first_name' type="text" class="form-control"  placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
              <label>Last Name</label>
              <input name='last_name' type="text" class="form-control" placeholder="Last Name">
            </div>
          </div>
        
        <div class="form-check" id="check2">
          <input class="form-check-input" type="checkbox" id="gridCheck" required>
          <label class="form-check-label" for="gridCheck">
            I agree to the terms and conditions
          </label>
        </div>
        
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    
</div>
{% endblock %}
